<!-- wp:template-part {"slug":"header","tagName":"div","className":"has-display-contents"} /-->

<!-- wp:group {"tagName":"main","className":"wporg-events-main","layout":{"type":"default"}} -->
<main class="wp-block-group wporg-events-main">
	<!-- wp:wporg-events/page-header {"variant":"front"} /-->

	<!-- wp:wporg-events/event-directory /-->
	<!-- wp:wporg-events/group-directory /-->
	<!-- wp:wporg-events/member-dashboard /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
